.box{
    color: black;
    border:1px solid black;
    height: 200px;
    width: 50px;
}

/* if the screensize is 320 or more the back ground color will be blue,
make this appear in moble.*/
@media(min-width:320px) and (max-width:768px){
    .box{
        background-color: blue;
        width: 50%;
    }
    .mobile{
        display: none;
    }
    .box2{
        background-color: purple;
    }
}
@media (min-width:768px){
    .box{
    background-color: red;
    width: 100%
    }
    .mobile{
        display: none;
    }
    .box2{
        height:100px;
        width:100px;
        background-color: lemonchiffon;
    }
}